body {
    margin: 0px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    grid-template-areas: 
    "sidebar header"
    "sidebar main";
    height: 100vh; /* Temp */
}

.sidebar {
    grid-area: sidebar;
    background-color: red;
    padding: 20px;
    display: grid;
    grid-template-areas: 
    "title"
    "nav-1"
    "nav-2";
    height: 50%;
}

.title {
    grid-area: title;
}

.nav-1 {
    grid-area: nav-1;
}

.nav-2 {
    grid-area: nav-2;
}

.header {
    grid-area: header;
    background-color: green;
}

.main {
    grid-area: main;
    background-color: black;
}