:root {
    font-family: Roboto;
}

body {
    margin: 0px;
}

.container {
    display: grid;
    grid-template-columns: minmax(300px,1fr) 4fr;
    grid-template-rows: 1fr 4fr;
    grid-template-areas: 
    "sidebar header"
    "sidebar main";
    height: 100vh; /* Temp */
}

.sidebar {
    grid-area: sidebar;
    background-color: #1892d3;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.nav-1 {
    font-size: 22px;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 14px;
}

.nav-2 {
    font-size: 22px;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 14px;
}

.item {
    display: flex;
    gap: 20px;
}

.item img {
    width: 23px;
    fill: white;
}

.title {
    font-size: 30px;
    font-weight: 600;
    color: white;
    display: flex;
    gap: 14px;
    align-items: center;
}

.title img {
    width: 50px;
    fill: white;
}

.header {
    grid-area: header;
    background-color: white;
}

.main {
    grid-area: main;
    background-color: rgb(0.5, 0.5, 0.5, 0.10);
}